/****

PRIMARY PALETTE

uarizona Blue is our most identifiable colour. It conveys youthfulness, possibility and openness. It should always be considered first.

Black conveys prestige, timelessness and sophistication.

White is often shown as white space and conveys the brand personality of being open and youthful.

Greys can be any percentage of black and provides additional flexibility to our primary colour palette.

The primary colour palette is preferred for digital work.

****/

.uarizona-bg-blue { background-color: #006DAE!important; }
.uarizona-bg-gray80 { background-color: #5A5A5A; }
.uarizona-bg-gray50 { background-color: #969696; }
.uarizona-bg-gray10 { background-color: #E6E6E6; }
.uarizona-bg-white { background-color: #FFFFFF; }
.uarizona-bg-black { background-color: #000000; }

.uarizona-blue { color: #006DAE; }
.uarizona-black { color: #000000; }
.uarizona-white { color: #FFFFFF; }
.uarizona-gray80 { color: #5A5A5A; }
.uarizona-gray50 { color: #969696; }
.uarizona-gray10 { color: #E6E6E6; }

/**** 

SECONDARY PALETTE 

Inspired by the colours of our academic robes, we have a range of bright, colourful secondary colours.

Secondary colours are to be used:

* in charts and diagrams to highlight key findings
* as headings and subheadings
* sparingly to provide highlights or accents – ideally one or two secondary colours per double page spread
* to speak to a particular audience group. For instance, colours that would resonate best with our prospective undergraduate audience would be colourful, bright and youthful. Industry and research would suit a more corporate/mature choice to reflect focus and prestige.

****/


.uarizona-bg-blue2 { background-color: #027EB6; }
.uarizona-bg-purple2 { background-color: #746FB2; }
.uarizona-bg-fuchsia2 { background-color: #9651A0; }
.uarizona-bg-ruby2 { background-color: #C8008F; }
.uarizona-bg-pink2 { background-color: #ee64a4; }
.uarizona-bg-red2 { background-color: #EE0220; }
.uarizona-bg-orange2 { background-color: #D93F00; }
.uarizona-bg-umber2 { background-color: #795549; }
.uarizona-bg-olive2 { background-color: #6F7C4D; }
.uarizona-bg-green2 { background-color: #008A25!important; }

.uarizona-blue2 { color: #027EB6; }
.uarizona-purple2 { color: #746FB2; }
.uarizona-fuchsia2 { color: #9651A0; }
.uarizona-ruby2 { color: #C8008F; }
.uarizona-pink2 { color: #ee64a4; }
.uarizona-red2 { color: #EE0220; }
.uarizona-orange2 { color: #D93F00; }
.uarizona-umber2 { color: #795549; }
.uarizona-olive2 { color: #6F7C4D; }
.uarizona-green2 { color: #008A25; }


